/* components/Card/Card.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: var(--card-bg-color); /* rgba(0, 128, 255, 0.1) */
  color: var(--primary-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 10px;
  margin: 8px;
  padding: 20px;
  width: 300px; /* add a fixed width to the card */
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.starship-model {
  font-size: 14px;
  font-weight: normal;

  word-wrap: break-word;
}
