/* components/Navbar/Navbar.css */

.navbar {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 1rem;
  text-align: center;
}

.navbar__title {
  font-size: 2rem;
  font-weight: bold;
}
