/* components/Navbar/Navbar.css */
.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--bright-deco-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}


.navbar-title {
  font-size: 30px;
  font-weight: bold;
}
